pandas
numpy==1.23.5  # Pinned to last compatible version
requests
python-telegram-bot
pytz
pandas-ta
yfinance
selenium
webdriver-manager
nest-asyncio
ta
TA-Lib  # Install from PyPI instead of GitHub URL
